name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  checkout-and-package:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      
      - name: Upload source artifact
        uses: actions/upload-artifact@v4
        with:
          name: source
          path: |
            ./
            !node_modules/
            !.git/
            !.github/

  upload-scan:
    needs: checkout-and-package
    runs-on: ubuntu-latest
    steps:
      - name: Download source artifact
        uses: actions/download-artifact@v4
        with:
          name: source
          path: workspace

      - name: Crear carpeta de salida
        run: mkdir -p workspace/output

      - name: Zip build output (excluyendo node_modules, .git, .github)
        run: |
          cd workspace
          zip -r output/build.zip . -x "node_modules/*" ".git/*" ".github/*" "output/*"

      - name: Debug build output
        run: |
          ls -R ./workspace/output/

      - name: Veracode pipeline scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.18
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          file: ./workspace/output/build.zip

      - name: Check if artifact exists
        run: |
          if [ ! -f "filtered_results.json" ]; then
            echo "Artifact filtered_results.json not found. Skipping issue creation."
            exit 0
          fi

      - name: Descargar artefacto Veracode Pipeline Scan Results
        uses: actions/download-artifact@v4
        with:
          name: Veracode Pipeline-Scan Results - .zip
          path: ./veracode_results
      
      - name: Descomprimir archivo ZIP de Veracode
        run: unzip "./veracode_results/Veracode Pipeline-Scan Results - .zip" -d ./veracode_results
      
      - name: Crear issues a partir de los resultados de Veracode
        uses: veracode/veracode-flaws-to-issues@v2.2.25
        with:
          scan-results-json: './veracode_results/filtered_results.json'
