name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  checkout-and-package:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      
      - name: Upload source artifact
        uses: actions/upload-artifact@v4
        with:
          name: source
          path: |
            ./
            !node_modules/
            !.git/
            !.github/

  upload-scan:
    needs: checkout-and-package
    runs-on: ubuntu-latest
    steps:
      - name: Download source artifact
        uses: actions/download-artifact@v4
        with:
          name: source
          path: workspace

      - name: Crear carpeta de salida
        run: mkdir -p workspace/output

      - name: Zip build output (excluyendo node_modules, .git, .github)
        run: |
          cd workspace
          zip -r output/build.zip . -x "node_modules/*" ".git/*" ".github/*" "output/*"

                  
      - name: veracode pipeline scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.18
        with:
            vid: ${{ secrets.VERACODE_API_ID }}
            vkey: ${{ secrets.VERACODE_API_KEY }}
            file: ./workspace/output/build.zip
                    
      - name: Veracode Upload And Scan
        uses: veracode/veracode-uploadandscan-action@0.2.6
        with:
          appname: "verademo-javascript-api"
          filepath: ./workspace/output/build.zip
          version: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          scanallnonfataltoplevelmodules: true
          deleteincompletescan: true
          debug: true
        continue-on-error: false
