name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  checkout-and-package:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      
      - name: Upload source artifact
        uses: actions/upload-artifact@v4
        with:
          name: source
          path: |
            ./
            !node_modules/
            !.git/
            !.github/

  upload-scan:
    needs: checkout-and-package
    runs-on: ubuntu-latest
    steps:
      - name: Download source artifact
        uses: actions/download-artifact@v4
        with:
          name: source
          path: workspace

      - name: Crear carpeta de salida
        run: mkdir -p workspace/output

      - name: Zip build output (excluyendo node_modules, .git, .github)
        run: |
          cd workspace
          zip -r output/build.zip . -x "node_modules/*" ".git/*" ".github/*" "output/*"

      - name: Debug build output
        run: |
          ls -R ./workspace/output/


      - name: Veracode Pipeline-Scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.18
        with:
          # vid
          vid: ${{ secrets.VERACODE_API_ID }}
          # vkey
          vkey: ${{ secrets.VERACODE_API_KEY }}
          # Filename of the packaged application to upload and scan.
          file: ./workspace/output/build.zip 
          # Enter true to display detailed messages in the scan results. Default is false.
          verbose: true
          # Enter true to save the scan results in JSON format. Default is true.
          json_output: true
          # Rename the JSON file that contains the scan results. The file is stored in the current directory. Default filename is results.json.
          json_output_file: s_results.json
          # Enter the filename in the current directory to save results that violate pass-fail criteria. Default is filtered_results.json.
          filtered_json_output_file: filtered_results.json
    
